*{
	font-family: 'sans-serif';
	margin: 0;
	box-sizing: border-box;
}
a{
	font-size: 1.3rem;
}
body,p{
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.5rem;
}
body{
	background-image: url('imgSrc/FundoSite.png');
	background-repeat: repeat;
	background-attachment: fixed;
}
link:hover{
	cursor: pointer;
}
.titulo{
margin: 0 auto;
}
.titulo2{
margin: 0 auto;
text-decoration: none;
color: black;
}
.infonot1b{
background: white;
border-radius: 3px;
border: 3px solid black;
font-size: 1.3rem;
margin-left: 200px;
margin-right: 200px;
margin-top: 20px;
}
h1 {
  text-align: center;
  margin-top: 100px;
}
h6 {
	padding-top: 10px;
}
.News{
	color: #FF0000	;
}
.fonte{
	font-size: 1.2rem;
}
.MenuPrincipal{
	border: 5px solid pink;
}
.MenuPrincipal ul li {
display: inline;
}
.MenuPrincipal ul{
	background-image: url('imgSrc/FundoRosa.jpg');
	text-align: center;
	padding: 10px;
	list-style:none;
}
.MenuPrincipal ul li a {
    padding: 2px 10px;
    display: inline-block;
    color: black;
    text-decoration: none;
}
.MenuPrincipal ul li a:hover {
	cursor: pointer;
    color: black;
    border:  3px solid pink;
}
.MenuSecundario{
	height: 150px;
	width: 300px;
	border: 5px solid Pink;
}
p{
	text-align: center;
}
ul, li, a{
	text-decoration: black;

}
img {
  max-width: 100%;
  display: block;
}
	  .class1  {
	  display: grid;
	  grid-template-columns: repeat(3, 1fr);
	  grid-gap: 20px;
	  margin: 0 auto;
	  max-width: 900px;
	  padding: 10px;
	}
	.class1-item:nth-child(1) {
	  grid-row: 1 / 3;
	}
	.class1-item {
	  display: grid;
	}
	.class1-item img {
	  grid-column: 1;
	  grid-row: 1/3	;
	  align-self: end;
	}
	.class1-item p {
	  background: rgba(0, 0, 0, 0.6);
	  padding: 10px;
	  color: black;
 	 grid-column: 1;
 	 grid-row: 2;
 	 align-self: end;
	}
.topo{
margin: 10px;
}
.menu{
background-color: pink;
display: flex;
}

.Alice{
image-orientation: center;
}
.formulario{
    width: 400px;
    padding: 30px;
}
.formulario p{
    width: 100%;
    font-size: 1.3em;
}
.form{
    width: 100%;
    margin: 15px 0;
    padding-bottom:30px;
}
.form label,
.form span{
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}
.radiobox label{
    width: auto;
    display: inline-block;
}
.aliceimg{
	border: 5px solid pink;
}
.Alice{
	font-size: 1.4rem;
	background-image: url('imgSrc/FundoRosa.jpg');
	position: relative;
	height: 75px;
 	width:500px;
	border: 5px solid Pink;
}
.Alice2{
	font-size: 1.5rem;
	background-image: url('imgSrc/FundoRosa.jpg');
	position: relative;
	height: 300px;
	width: 500px;
	border: 5px solid Pink;
}
input[type=text],
input[type=email],
textarea{
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border:0px;
    outline: none;
}
textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}
input[type=submit]{
    display: block;
    background-color: pink;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}
.bordas{
	font-size: 1.4rem;
	background-image: url('imgSrc/FundoRosa.jpg');
	position: relative;
	border: 5px solid Pink;
  	margin: 0 auto;
}
.bordas2{
	font-size: 1.4rem;
	background-image: url('imgSrc/FundoRosa.jpg');
	position: relative;
	border: 3px solid black;
  	margin: 0 auto;
}
footer{
	border: 5px solid pink;
	clear: both;
	margin: 0;
	height: 110px;
	padding: 20px;
	background-image:url('imgSrc/FundoRosa.jpg');
	top: 160px;
	position: relative;
}
